<div class="peoples__bubbles">
  <img src="../../assets/images/main-person.png" class="peoples__main-person" alt="">
  <img src="../../assets/icons/quote-pink.svg" class="peoples__quote" alt="">
  <img src="../../assets/images/purple-nigga.png" class="peoples__purple-nigga" alt="">
  <img src="../../assets/images/green-china.png" class="peoples__green-china" alt="">
  <img src="../../assets/images/pink-blonde-men.png" class="peoples__pink-blonde-men" alt="">
  <img src="../../assets/images/green-girl.png" class="peoples__green-girl" alt="">
  <img src="../../assets/images/purple-girl.png" class="peoples__purple-girl" alt="">
  <img src="../../assets/images/green-nigga.png" class="peoples__green-nigga" alt="">
  <img src="../../assets/images/pink-men.png" class="peoples__pink-men" alt="">
</div>
<div class="peoples__info">
  <div class="peoples__info-container">
    <img src="../../assets/icons/arrow-left.svg" alt="">
    <p class="peoples__info-text">Lectus arcu bibendum at varius. Adipiscing diam donec adipiscing tristique.</p>
    <img src="../../assets/icons/arrow-right.svg" alt="">
  </div>
  <p class="peoples__info-name"><span>Kerry Johnes</span> - Some Company</p>
</div>
