<p class="about-us__name">We are Amazing</p>
<p class="about-us__title">Our services</p>
<p class="about-us__subtitle">Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Quam elementum
  pulvinar etiam non. Eu consequat.</p>
<div class="about-us__services">
  <div class="about-us__services-webdesign">
    <img src="../../assets/icons/webdesign.svg" alt="">
    <p class="about-us__services-title">Webdesign</p>
    <p class="about-us__services-text">Tincidunt lobortis feugiat vivamus at augue eget. Risus feugiat in ante metus
      dictum. Amet aliquam id diam maecenas.</p>
  </div>
  <div class="about-us__services-webdev">
    <img src="../../assets/icons/webdev.svg" alt="">
    <p class="about-us__services-title">Webdev</p>
    <p class="about-us__services-text">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu
      feugiat pretium nibh ipsum consequat nisl vel pretium. </p>
  </div>
  <div class="about-us__services-marketing">
    <img src="../../assets/icons/marketing.svg" alt="">
    <p class="about-us__services-title">Marketing</p>
    <p class="about-us__services-text">Eu augue ut lectus arcu bibendum at. Pellentesque nec nam aliquam sem et tortor
      consequat. </p>
  </div>
  <div class="about-us__services-marketing">
    <img src="../../assets/icons/marketing-second.svg" alt="">
    <p class="about-us__services-title">Marketing</p>
    <p class="about-us__services-text">Id venenatis a condimentum vitae. Magna fermentum iaculis eu non diam phasellus
      vestibulum lorem. Tortor dignissim convallis aenean et.</p>
  </div>
  <div class="about-us__services-webdesign">
    <img src="../../assets/icons/webdesign-second.svg" alt="">
    <p class="about-us__services-title">Webdesign</p>
    <p class="about-us__services-text">Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque.
      Malesuada fames ac turpis egestas sed.</p>
  </div>
  <div class="about-us__services-webdev">
    <img src="../../assets/icons/webdev-second.svg" alt="">
    <p class="about-us__services-title">Webdev</p>
    <p class="about-us__services-text">Integer quis auctor elit sed vulputate mi. Semper auctor neque vitae tempus.
      Vulputate odio ut enim blandit volutpat maecenas volutpat.</p>
  </div>
</div>
<button class="about-us__learn-more">learn more</button>

