<div class="benefits__container">
  <p class="benefits__name">benefits</p>
  <p class="benefits__title">Shaping the future</p>
  <p class="benefits__subtitle">Eget nunc scelerisque viverra mauris in aliquam. Dignissim sodales ut eu sem integer
    vitae. Libero nunc consequat interdum varius.</p>
  <p class="benefits__text">Magna sit amet purus gravida. Sit amet porttitor eget dolor morbi non.</p>
  <p class="benefits__text">Lectus vestibulum mattis ullamcorper velit sed ullamcorper.</p>
  <p class="benefits__text">Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Dui faucibus in ornare
    quam viverra.</p>
  <p class="benefits__text">Posuere ac ut consequat semper viverra.</p>
  <button class="benefits__learn-more">learn more</button>
</div>
<div class="benefits__empty-block"></div>
<img src="../../assets/images/benefits-app.png" class="benefits__app-img" alt="">
<p class="benefits__mobile-apps">mobile apps</p>
