<div class="intro__left">
  <p class="intro__name">intro</p>
  <p class="intro__title">Our future</p>
  <p class="intro__subtitle">Apparently we had reached a great height in the atmosphere, for the sky was a dead black,
    and the stars had ceased to twinkle.</p>
  <p class="intro__text">By the same illusion which lifts the horizon of the sea to the level of the spectator on a
    hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark
    sphere, whose upper half was strewn with silver.</p>
  <button class="intro__learn-more">learn more</button>
</div>
<div class="intro__right">
  <div class="intro__quote">
    <div class="intro__quote-wrapper">
      <div class="intro__quote-block">
        <img src="../../assets/icons/quote-up.svg" alt="">
        <p class="intro__quote-text">Commodo sed egestas egestas fringilla phasellus faucibus.</p>
        <img src="../../assets/icons/quote-down.svg" alt="">
      </div>
      <div class="intro__quote-empty-block"></div>
    </div>
  </div>
  <img src="../../assets/images/intro-person.png" class="intro__person" alt="">
</div>

