  <div class="base__wrapper">
    <header class="base__header">
      <p class="base__logo">Lopper</p>
      <nav class="base__menu">
        <a href="#" class="base__menu-link __active">Home</a>
        <a href="#" class="base__menu-link">Services</a>
        <a href="#" class="base__menu-link">Work</a>
        <a href="#" class="base__menu-link">About</a>
      </nav>
      <div class="base__phone-container">
        <img src="../../assets/icons/phone.svg" alt="">
        <p class="base__phone-number">(01) 666 - 693 - 456</p>
      </div>
    </header>
    <article class="base__info">
      <p class="base__info-question">What we  do?</p>
      <h1 class="base__info-answer">We grow <span>great business</span></h1>
    </article>
    <div class="base__goto">
      <p class="base__goto-text">Velit laoreet id donec ultrices. Ut lectus arcu bibendum varius.</p>
      <img src="../../assets/icons/goto-arrow.svg" alt="">
    </div>
  </div>
